<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
            <div class="container">
                <div class="navbar-translate">
                    <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button"
                        data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.example.com">ABOUT BETTER DESIGN</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto">

                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'Login' %}" class="btn btn-danger btn-round">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'teacherssignup' %}" class="btn btn-danger btn-round">Register</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="#" class="btn btn-danger btn-round">Create
                                Quiz</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dashboard' %}" class="btn btn-danger btn-round">DashBoard</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'Logout' %}" class="btn btn-danger btn-round">Logout</a>
                        </li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-2">
                    <div class="col-md">
                        <div class="card text-center text-white  mb-3" id="total-orders">
                            <div class="card-header">
                                <h5 class="card-title">Total Students</h5>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{total_students}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <canvas id="myChart"></canvas>
                </div>

            </div>

            <h3>
                Doctors
            </h3>
            <br>

            <div class="row">
                <div class="col-md-12">
                    <h5>LAST 5 ORDERS</h5>
                    <hr>
                    <div class="card card-body">
                        <a class="btn btn-primary  btn-sm btn-block" href="#">Students</a>
                        <table class="table table-sm">
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Department</th>
                                <th>Attendence</th>
                                <th>Salary</th>
                            </tr>

                            {% for d in students %}
                            <tr>
                                <td>{{d.user.username}}</td>
                                <td>{{d.user.gender}}</td>
                                <td>{{d.user.email}}</td>
                                <td>{{d.user.gender}}</td>
                                <td>{{d.user.age}}</td>
                                <td>{{d.Specialization}}</td>
                                <td>{{d.Attendence}}</td>
                                <td>{{d.Salary}}</td>
                                <td><a class="btn btn-sm btn-info"
                                        href="{% url 'updateDoctorForm' d.user_id %}">Update</a>
                                </td>

                                <td><a class="btn btn-sm btn-danger"
                                        href="{% url 'deleteDoctor' d.user_id %}">Delete</a>
                                </td>

                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>

        </div>

        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>

</body>

</html>