<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz Creation</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

{% load crispy_forms_tags %}


<div class='container'>
      <div class=' pl-4'>
        <form class='form-group' method='POST' enctype="multipart/form-data">
          {% csrf_token %}
          <div class='container mt-3 pd-3'>
              <fieldset class='form-group border p-3 m-3'>
                  <legend>
                      <h3>Create a Quiz!</h3>
                  </legend>
                  <div class="form-group">
                    {{form | crispy}}
                  </div>
                  <br>
                  <div class='row'>
                    <div class="col-sm-2">
                  <div class='form-group'>
                    <input type="submit" class="btn btn-info" value="Submit">
                  </div>
                  </div>
                  <div class="col-sm-2">
                  <div class='form-group'>
                    <input type='reset' class='btn btn-success' value='Cancel'>
                  </div>
                  </div>
                  </div>
         </fieldset>
        </form>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
